* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(120deg, #ff66dd 0%,#ffff66);
  color: whitesmoke;
  font-family: "Poppins",sans-serif;
  min-height: 100vh;
}
header{
  font-size: 2rem;
}
header,
form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button{
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button{
  color: #ff66dd;
  background: #ffff66;
  cursor: pointer;
  transition: all 0.3s ease;

}
form button:hover{
  background: #ff66dd;
  color: white;

}
.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list{
  min-width: 30%;
  list-style: none;
}
.todo{
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo{
  padding: 1rem;

}
.todo li{
  flex: 1;
}
.trash-btn,
.complete-btn{
  background: #ffff66;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn{
  background: rgb(11, 212, 162);
}
.todo-item{
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check{
  pointer-events: none;
}
.fall{
  transform: translate(10rem) rotate(20deg);
  opacity: 0;
}
.completed{
  text-decoration: line-through;
  opacity: 0.2;
}
/* custom selector */
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance:none;
  appearance: none;
  outline: 0;
  box-shadow: none; 
  border: 0 !important;
  background-image: none;
}
/* Custom Select*/
.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select{
  color: #ff66dd;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after{
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff66dd;
  cursor: pointer;
  pointer-events: none;
} 
/* Transition */
/* .Select:hover::after{
  ..transform:.scale(1.5);
} */